<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.30793499433580845" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.30793499433580845" rpy="0 0 0"/>
            <geometry>
                <box size="0.7404261424028953 0.5181762373110671 0.6158699886716169" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.30793499433580845" rpy="0 0 0"/>
            <geometry>
                <box size="0.7404261424028953 0.5181762373110671 0.6158699886716169" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.25908811865553355 0.4933792136590076" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.3671433988846452 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3671433988846452 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7924412464490492 0.7342867977692904 0.526267074429327" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3671433988846452 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7924412464490492 0.7342867977692904 0.526267074429327" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link1XLink0" type="revolute">
       <parent link="Link1"/>
       <child  link="Link1XLink0"/>
       <origin rpy="0 0 0" xyz="0.3962206232245246 0.3671433988846452 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1XLink0">
        <inertial>
            <origin xyz="0.30766925267280465 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.30766925267280465 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6153385053456093 0.7342867977692904 0.5537393740643538" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.30766925267280465 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6153385053456093 0.7342867977692904 0.5537393740643538" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link1MinXLink0" type="revolute">
       <parent link="Link1"/>
       <child  link="Link1MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.3962206232245246 0.3671433988846452 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1MinXLink0">
        <inertial>
            <origin xyz="-0.47770728994904005 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.47770728994904005 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9554145798980801 0.7342867977692904 0.8121066931232684" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.47770728994904005 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9554145798980801 0.7342867977692904 0.8121066931232684" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.7342867977692904 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.5474807191213205 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5474807191213205 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6550140236191477 1.094961438242641 0.5821058075760647" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5474807191213205 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6550140236191477 1.094961438242641 0.5821058075760647" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link2XLink0" type="revolute">
       <parent link="Link2"/>
       <child  link="Link2XLink0"/>
       <origin rpy="0 0 0" xyz="0.32750701180957387 0.5474807191213205 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2XLink0">
        <inertial>
            <origin xyz="0.3659107654247462 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3659107654247462 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7318215308494924 0.9977193476730815 0.5646373510100386" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3659107654247462 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7318215308494924 0.9977193476730815 0.5646373510100386" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link2MinXLink0" type="revolute">
       <parent link="Link2"/>
       <child  link="Link2MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.32750701180957387 0.5474807191213205 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2MinXLink0">
        <inertial>
            <origin xyz="-0.3515315761441421 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3515315761441421 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7030631522882842 0.9147803429635835 0.7985483209940433" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3515315761441421 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7030631522882842 0.9147803429635835 0.7985483209940433" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 1.094961438242641 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.4119147567735272 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4119147567735272 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8640299129383572 0.8238295135470544 0.9867584273180152" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4119147567735272 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8640299129383572 0.8238295135470544 0.9867584273180152" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link3XLink0" type="revolute">
       <parent link="Link3"/>
       <child  link="Link3XLink0"/>
       <origin rpy="0 0 0" xyz="0.4320149564691786 0.4119147567735272 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3XLink0">
        <inertial>
            <origin xyz="0.3966000490676308 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3966000490676308 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7932000981352616 0.6163123986789932 1.0676265948726797" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3966000490676308 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7932000981352616 0.6163123986789932 1.0676265948726797" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link3MinXLink0" type="revolute">
       <parent link="Link3"/>
       <child  link="Link3MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.4320149564691786 0.4119147567735272 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3MinXLink0">
        <inertial>
            <origin xyz="-0.38687895252319005 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.38687895252319005 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7737579050463801 0.8238295135470544 0.7670821530475611" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.38687895252319005 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7737579050463801 0.8238295135470544 0.7670821530475611" />
            </geometry>
        </collision>
    </link>
</robot>