<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.4773447327053992" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.4773447327053992" rpy="0 0 0"/>
            <geometry>
                <box size="0.36015907018370874 0.9941778202743424 0.9546894654107984" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.4773447327053992" rpy="0 0 0"/>
            <geometry>
                <box size="0.36015907018370874 0.9941778202743424 0.9546894654107984" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 0.4970889101371712 0.5379366316332481" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0.42376513189356974 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.42376513189356974 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8740079046139492 0.8475302637871395 0.5382779323055615" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.42376513189356974 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8740079046139492 0.8475302637871395 0.5382779323055615" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link1XLink0" type="revolute">
       <parent link="Link1"/>
       <child  link="Link1XLink0"/>
       <origin rpy="0 0 0" xyz="0.4370039523069746 0.42376513189356974 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1XLink0">
        <inertial>
            <origin xyz="0.28105569333047764 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.28105569333047764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5621113866609553 0.5187269647408368 0.35041097028876095" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.28105569333047764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5621113866609553 0.5187269647408368 0.35041097028876095" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link1MinXLink0" type="revolute">
       <parent link="Link1"/>
       <child  link="Link1MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.4370039523069746 0.42376513189356974 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1MinXLink0">
        <inertial>
            <origin xyz="-0.48800876218515954 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.48800876218515954 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9760175243703191 0.6677620126871453 0.6847258562412393" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.48800876218515954 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9760175243703191 0.6677620126871453 0.6847258562412393" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0 0.8475302637871395 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.3757397469880035 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3757397469880035 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0457305013438387 0.751479493976007 0.36559890718474075" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3757397469880035 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0457305013438387 0.751479493976007 0.36559890718474075" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link2XLink0" type="revolute">
       <parent link="Link2"/>
       <child  link="Link2XLink0"/>
       <origin rpy="0 0 0" xyz="0.5228652506719194 0.3757397469880035 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2XLink0">
        <inertial>
            <origin xyz="0.23056773908983705 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.23056773908983705 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4611354781796741 0.751479493976007 0.9861743386362885" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.23056773908983705 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4611354781796741 0.751479493976007 0.9861743386362885" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link2MinXLink0" type="revolute">
       <parent link="Link2"/>
       <child  link="Link2MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.5228652506719194 0.3757397469880035 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2MinXLink0">
        <inertial>
            <origin xyz="-0.25449963623830124 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25449963623830124 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5089992724766025 0.751479493976007 0.838844254899963" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25449963623830124 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5089992724766025 0.751479493976007 0.838844254899963" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.751479493976007 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.23243351925896377 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.23243351925896377 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0972495816935428 0.46486703851792754 0.5977592756222445" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.23243351925896377 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0972495816935428 0.46486703851792754 0.5977592756222445" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link3XLink0" type="revolute">
       <parent link="Link3"/>
       <child  link="Link3XLink0"/>
       <origin rpy="0 0 0" xyz="0.5486247908467714 0.23243351925896377 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3XLink0">
        <inertial>
            <origin xyz="0.2070150569016228 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2070150569016228 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4140301138032456 0.46486703851792754 0.5675414864313966" />
            </geometry>
            <material name="Blue">
                <color rgba="0.01 0.54 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2070150569016228 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4140301138032456 0.46486703851792754 0.5675414864313966" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link3MinXLink0" type="revolute">
       <parent link="Link3"/>
       <child  link="Link3MinXLink0"/>
       <origin rpy="0 0 0" xyz="-0.5486247908467714 0.23243351925896377 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3MinXLink0">
        <inertial>
            <origin xyz="-0.5418627504516322 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5418627504516322 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0837255009032645 0.46486703851792754 0.4863686561751796" />
            </geometry>
            <material name="Green">
                <color rgba="0.25 0.76 0.50 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5418627504516322 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0837255009032645 0.46486703851792754 0.4863686561751796" />
            </geometry>
        </collision>
    </link>
</robot>